/* https://github.com/auieo-dayo/bsw-dashboard-demo/ | phone | スマホ用ダッシュボード */
/* MIT LICENSE */

body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: rgb(223, 240, 255);
}
/* Display */
#info,#console,#player {
    width: 100%;
    height: calc( 100vh - 5vh);
    transition: 300ms;
    position: absolute;
}
.close {
    opacity: 0;
}
.active {
    opacity: 1;
}
/* 共通部 */

.title {
    position: fixed;
    opacity: 0.4;
    bottom: 10vh;
    right: 3vw;
}

/* INFO */
#cpu-bar,#mem-bar {
    margin: 0;
    padding: 0;
}
#cpu-bar h4,#mem-bar h4  {
    text-align: center;
}
.bar {
    width: 80%;
    margin-left: 10%;
    height: 5vh;
    border: 1px solid #000;
}
.fill {
    height: 100%;
    width: 50%;
    background-color: rgb(250, 250, 140);
    border-right: 1px dashed #000;
}
#info h2 {
    text-align: center;
}
#info h2 span {
    margin-left: 15px;
}


/* Players */
#player {
    height: calc(100vh - 5vh);
    overflow-y: auto;
}
#players {
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    text-align: center;
}
#players li::before {
    content: "・";
    font-weight: bold;
}


/* CONSOLE */
#console {
    width: 90%;
    height: calc(100vh - 5vh - 10vh);
}
#console-log {
    height: 90%;
    margin-top: 3%;
    width: 100%;
    margin-left: 5vw;
    border: 1px solid #000;
    overflow-y: auto;
    word-break: break-word;
    font-size: small;
}
#console-bar {
    margin-left: 5vw;
    height: 7%;
    width: 100%;
    display: flex;
}
#console-bar button,#console-bar input {
    margin: 0;
    padding: 0;
    height: 80%;
    display: inline-block;
}
#console-bar button {
    width: 25%;
    display: block;
    height: 89%;
}
#console-bar input {
    width: 75%;
}
/* CONSOLE COLOR */
.server {color: rgb(177, 50, 182);}
.PlayerJoin {color: rgb(0, 107, 0);}
.PlayerLeave {color: rgb(204, 29, 29);}
.cmd {color: rgb(0, 100, 187);}
.chat {color: #534b04;}
.death {color: rgb(159, 0, 165);}



/* 下のバー */
#bottom-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5vh;
    border-top: 2px dashed #000;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgb(181, 176, 255);
    opacity: 0.8;
    padding: 0;
    margin: 0;
    text-align: center;
}

#bottom-bar button {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 20%;
    border: none;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-radius: 10px;
    margin-left: 10px;
    transition: 250ms;
}
#bottom-bar button:active {
    box-shadow: inset 0px 0px 20px 3px rgba(113, 113, 113);
}

