/* https://github.com/auieo-dayo/bsm-dashboard-demo/ | Controler | PC用ダッシュボード */
/* MIT LICENSE */

@font-face {
    font-family: 'WDXLLubrifontJPN'; 
    src: url("./WDXLLubrifontJPN-Regular.ttf") format("truetype"); 
}
@font-face {
    font-family: "KiwiMaru"; 
    src: url("./KiwiMaru-Medium.ttf") format("truetype"); 
}
* {
    font-family: "KiwiMaru",sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(199, 199, 199);
}
nav {
    height: 35px;
    width: 100%;
    padding-bottom: 2px;
    border-bottom: 1px dashed #000;
    display: flex;
    position: fixed;
}
.title {
    position: absolute;
    left: 50%;
    bottom:0;
    transform: translateX(-50%);
    font-family: 'WDXLLubrifontJPN';
}
.button {
    width: max-content;
    height: 35px;
    padding-left: 2vw;
    padding-right: 2vw;

}
#nav-btn {
    position: absolute;
    left: 10%;
    transform: translateX(-10%);
}


#backups,#console,#info {
    transition: .3s;
    width: 100%;
    height: calc(100% - 35px);

}
.close {
    opacity: 0;
}
.active {
    opacity: 1;
}


/* Window */

.window {
    position: absolute;
    border: 1px solid #000;
    overflow-y: auto;
    -webkit-user-select: none; /* Chrome/Safari用 */
    -moz-user-select: none;    /* Firefox用 */
    -ms-user-select: none;     /* IE用 */
    user-select: none;         /* 標準 */
}
.window h4 {
    width: max-content;
    margin: auto;
    padding: 0;
}

/* PlayerList */

#playerList {
    /* width: max-content; */
    background-color: rgba(134, 166, 194, 0.815);
    border-radius: 10px;
    width: 10vw;
    height: 40vh;
    right: 5px;
    bottom: calc(20vh + 5px + 5px);
}
/* SYS BAR */

#SystemBar {
    background-color: rgba(194, 173, 134, 0.815);
    border-radius: 10px;
    width: 10vw;
    height: 20vh;
    right: 5px;
    bottom: 5px;
}
.bar {
    position: relative;
    width: 90%;
    height: 20%;
    border: 1px solid #000;
    margin-left: 5%;
}
.fill {
    height: 100%;
    max-width: 100%;
}
.fill p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 0;
    padding: 0;
}
#cpubar {
    margin-bottom: 13%;
}
#cpubar .fill {
    background-color: rgba(129, 189, 241, 0.521);
}
#membar .fill {
    background-color: rgba(255, 194, 237, 0.521);
}

/* Chats */
#ChatWindow {
    /* width: max-content; */
    scrollbar-width: 5px;
    scrollbar-color: #000000 #ffffff00;
    background-color: rgba(153, 194, 134, 0.815);
    border-radius: 10px;
    width: 10vw;
    height: 40vh;
    right: calc(5px + 10vw + 5px);
    bottom: calc(5px + 5px);
}

/* CONSOLE */

#logs {
    width: 80%;
    margin-left: 10%;
    margin-top: 50px;
    border: 1px solid #000;
    height: 80vh;
    overflow-y: auto;
}
#bottom-toolbar {
    display: flex;
    margin-left: 10%;
    width: 80vw;
    height: 7vh;
}
#bottom-toolbar input {
    display: block;
    width: 90%;
    margin: 0;
    padding: 0;
    font-size: clamp(16px, 10cqw, 30px);
}
#bottom-toolbar button {
    display: block;

    width: 10%;
    margin: 0;
    padding: 0;
}
/* BACKUP */
#backups {
    width: 100%;
    height: calc(100% - 35px);
}
#backup_list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 90%;
    overflow-y: auto;
    justify-content: center;
    gap: 20px;
}

#backup_list * {
    font-family: 'WDXLLubrifontJPN';
    }

#backup_list div {
    border: 2px dashed #000;
    padding-left: 20px;
    padding-right: 20px;
    height: max-content;
    display: block;
    border-radius: 10px;
}
#backup_list div h1 {
    font-size:1.6rem;
    text-align: center;
    letter-spacing:2px;
}
#backup_list div h1 span{
    font-size:1rem;
}
#backup_list div h2 {
    font-size:1rem;
    text-align: center;
}
#backup_list div p {
    font-size:1rem;
    text-align: center;
}
.latest {background-color: #25c4d967;}
.full {background-color: #d9252567;}

/* CONSOLE COLOR */
.server {color: rgb(0, 247, 255);}
.PlayerJoin {color: rgb(0, 107, 0);}
.PlayerLeave {color: rgb(204, 29, 29);}
.cmd {color: rgb(0, 100, 187);}
.chat {color: #534b04;}
.death {color: rgb(159, 0, 165);}


/* INFO */
#info h1 {
    text-align: center;
    font-family: 'WDXLLubrifontJPN';
    font-weight: 400;
}
.info-data {
    margin-right: 20px;
    margin-left: 20px;
    font-family: "KiwiMaru",sans-serif;
    margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
    .title {
        display: none;
    }

}